 <section class="benefits" id="benefits">
    <div class="section-badge">
    <i class="fa-solid fa-circle-check" style="color: #ffffff"></i>
       +1000 clientes atendidos
    </div>
    
    <div class="benefits-section">
      <div class="benefits-container">
        <div class="benefits-content">
          <div class="benefits-text">
            <h2>
            Cuidamos do seu pet como se fosse nosso
            </h2>
            <p>
              Nossa clínica oferece serviços veterinários de excelência, com
              carinho e atenção personalizada. Consultas rápidas, profissionais
              qualificados e um ambiente acolhedor para seu pet!
             <i class="fa-solid fa-star-of-life" style="color: #5a632d"></i>
            </p>
            <div class="benefits-buttons">
              <a href="#" class="btn-primary">Agendar agora</a>
              <a href="#" class="btn-secondary">Saiba mais</a>
            </div>
          </div>
          <div class="benefits-mockup">
            <div class="mockup-container">
              <img
                src="/Mockup.gif"
                alt="Pet sendo atendido"
                class="benefits-video"
              />
              <div class="mockup-shadow"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>