<section id="services" class="services-section">
  <div class="container">
    <div class="services-header">
      <p class="section-subtitle">
        BEM-ESTAR ANIMAL EM CADA DETALHE
        <i class="fa-solid fa-heart" style="color: #64b5f6"></i>
      </p>
      <h2 class="section-title">Conheça nossos serviços feitos com carinho!</h2>
      <div class="divider"></div>
    </div>

    <div class="services-grid">
      <!-- SPA Pet Completo -->
      <div class="service-card">
        <div class="service-img-header">
          <img
            ngSrc="/PetBath.webp"
            width="800"
            height="400"
            alt="SPA Pet"
            priority
            class="header-img"
          />
        </div>
        <h3>SPA Pet Completo</h3>
        <ul class="service-features">
          <li>Banho relaxante com aromas</li>
          <li>Tosa sem estresse</li>
          <li>Massagem terapêutica</li>
        </ul>
        <a href="#agendar-banho" class="btn-service">
          Agendar SPA
          <i class="fas fa-bath"></i>
        </a>
      </div>

      <!-- Consulta Preventiva -->
      <div class="service-card">
        <div class="service-img-header">
          <img
            ngSrc="/MedicalPet.webp"
            width="800"
            height="400"
            alt="SPA Pet"
            priority
            class="header-img"
          />
        </div>
        <h3>Consulta Preventiva</h3>
        <ul class="service-features">
          <li>Check-up com veterinário</li>
          <li>Vacinação em dia</li>
          <li>Histórico acessível no app</li>
        </ul>
        <a href="#agendar-consulta" class="btn-service"
          >Agende e cuide com amor
          <i class="fa-solid fa-heart-circle-plus" style="color: #ffffff"></i>
        </a>
      </div>

      <!-- Emergência 24h -->
      <div class="service-card">
        <div class="service-img-header">
          <img
            ngSrc="/EmergencyPet.webp"
            width="800"
            height="400"
            alt="SPA Pet"
            priority
            class="header-img"
          />
        </div>
        <h3>Emergência 24h</h3>
        <ul class="service-features">
          <li>Equipe disponível 24h</li>
          <li>Equipamentos de última geração</li>
          <li>Acolhimento e monitoramento</li>
        </ul>
        <a href="#agendar-vacinacao" class="btn-service">
          Atendimento Imediato
          <i class="fa-solid fa-hospital" style="color: #ffffff"></i>
        </a>
      </div>
    </div>

    <div class="services-footer">
      <p class="footer-text">
        ✨ Todos os serviços incluem mimos, app de acompanhamento e muito
        carinho.
      </p>
      <a href="#todos-servicos" class="btn-secondary">
        Ver todos os serviços
        <i class="fa-solid fa-heart"></i>
      </a>
    </div>
  </div>
</section>
